    <!-- Footer -->
<footer class="home-footer">
  <div class="home-footer-content">
    <div class="footer-contact">
      <a href="tel:0981375781">09 81 37 57 81</a>
      <span class="footer-separator">•</span>
      <a href="mailto:contact@electron-formation.fr">contact@electron-formation.fr</a>
    </div>
    
    <div class="footer-copyright">
      
    </div>
    
    <div class="footer-links">
      <%= link_to "RGPD", rgpd_path %>
      <span class="footer-separator">•</span>
      <%= link_to "Mentions Légales", mentionslegales_path %>
      <span class="footer-separator">•</span>
      <%= link_to "CGV", cgv_path %>
      <span class="footer-copyright">
        © 2025 par CHAFFANJON Jonathan .
      </span>
    </div>
    
    </div>
  </div>
</footer>